.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

a {
    color: #5D6975;
    text-decoration: underline;
}

.main {
    position: relative;
    width: 1200px;
    height: 10px;
    margin: 0 auto;
    color: #001028;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-family: Arial;
}

header {
    padding: 10px 0;
    margin-bottom: 30px;
}

#logo {
    text-align: left;
    margin-bottom: 10px;
}

#logoReaxium {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 30px
}

#logo img {
    width: 140px;
}

.infoUser{
    padding-top: 15px;

}

#logoAccess{
    margin-left: 36%;
    display: block;
    width: 180px;
    padding-top: 40px;
    display: block;
    margin-bottom: 20px;
}

#logoStatistics{
    margin-left: 36%;
    display: block;
    width: 180px;
    padding-top: 40px;
    display: block;
    margin-bottom: 20px;
}

#images{
    margin-left: 39%;
    display: block;
    height: 140px;
    width: 145px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    border: solid 1px grey;
}

h1 {
    border-top: 1px solid  #5D6975;
    border-bottom: 1px solid  #5D6975;
    color: #5D6975;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
}

#project {
    float: left;
}

#project span {
    color: #5D6975;
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.8em;
}

#company {
    float: right;
    text-align: right;
}

#project div,
#company div {
    white-space: nowrap;
}

.infoTable{
    width: 80%;
    border:0;
    margin: 0px auto;
    font-family:sans-serif;
    font-size:11pt;
}


table.reaxiumTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

table.allInfoTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}


table.accessTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

table.reaxiumTable tr:nth-child(2n-1) td {
    background: #F5F5F5;
}

table.accessTable tr:nth-child(2n-1) td {
    background: #F5F5F5;
}

table.allInfoTable tr:nth-child(2n-1) td {
    background: #F5F5F5;
}

table.reaxiumTable th,
table.reaxiumTable td {
    text-align: center;
}

table.accessTable th,
table.accessTable td {
    text-align: center;
}

table.allInfoTable th,
table.allInfoTable td {
    text-align: center;
}

table.reaxiumTable th {
    padding: 5px 20px;
    color: #f5f5f5;
    border-bottom: 1px solid #c1ced9;
    white-space: nowrap;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    background-color: #001028;
}



table.accessTable th {
    padding: 5px 20px;
    color: #f5f5f5;
    border-bottom: 1px solid #c1ced9;
    white-space: nowrap;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    background-color: #001028;
}

table.allInfoTable th {
    padding: 5px 20px;
    color: #f5f5f5;
    border-left: 1px solid white;
    white-space: nowrap;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    background-color: #5d6975;
}


table.reaxiumTable td {
    padding: 10px;
    text-align: center;
}

table.accessTable td {
    padding: 10px;
    text-align: center;
}

table.allInfoTable td {
    padding: 10px;
    text-align: center;
    border-left: 1px solid white;
}


#notices .notice {
    color: #5D6975;
    font-size: 1.2em;
}


footer {
    color: #5D6975;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #C1CED9;
    padding: 8px 0;
    text-align: center;
}

.infoLeft{
    font-size: 16px;
    margin-left: 180px;
}

.infoRight{
    font-size: 16px;
    margin-left: 120px


}

.header{
    background: #f5f5f5;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 150px;
    color: #FFFFFF;
    padding: 25px 0 15px 0;
}

.headerByUser{
    background: #f5f5f5;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 150px;
    color: #FFFFFF;
    padding: 25px 0 15px 0;
}

#DateStar{
    float: left;
    margin-left: 30px
}

#DateEnd{
    float: right;
    margin-right: 35px
}

#reaxiumGrafic{
    margin-left: 200px;
}

#UserIn{
    color: green;
}

#UserOut{
    color: red;
}

#Total{
    color:#5d6975;
}

canvas .canvas-holder {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

tr{
    page-break-inside: avoid;
}